<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>TecnHort</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-3" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-2">
            <h1 class="mb-0"><a href="/" class="text-white h2 mb-0">Projeto</a></h1>
          </div>
          
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre_nos">Sobre Nós</a></li>
                <li><a href="/services">Serviços</a></li>
                <!-- <li><a href="/gestores">Gestores</a></li> -->
                <!-- <li><a href="/blog">Blog</a></li> -->
                <li><a href="/contact">Contato</a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      
    </header>

  

    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(images/tecnologia-sustentavel.png);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
            <h1 class="text-white font-weight-light text-uppercase font-weight-bold">Serviços</h1>
            <p class="breadcrumb-custom"><a href="/">Home</a> <span class="mx-2">&gt;</span> <span>Serviços</span></p>
          </div>
        </div>
      </div>
    </div>  

    

    <div class="site-section bg-light">
      <div class="container">
        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary flaticon-sea-ship-with-containers"></span></div>
                <div>
                  <h3>Instalação</h3>
                  <p>Com a compra do produto com nossa empresa nos realizaremos a instalação totalmente gratuito.</p>
                  <!-- <p><a href="#">Saiba mais</a></p> -->
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary flaticon-travel"></span></div>
                <div>
                  <h3>Tempo</h3>
                  <p>O tempo de criação dessa horta é equivalente ao mesmo tempo de um tradicional.</p>
                  <!-- <p><a href="#">Saiba mais</a></p> -->
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary flaticon-frontal-truck"></span></div>
                <div>
                  <h3>Locomoção</h3>
                  <p>Por causa de seu tamanho e com uma mobilidade alta poderá ser transportado a qualquer lugar.</p>
                  <!-- <p><a href="#">Saiba mais</a></p> -->
                </div>
              </div>
            </div>
  
  
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary flaticon-barn"></span></div>
                <div>
                  <h3>Armazenamento</h3>
                  <p>Com os materiais pequenos para a implementação na horta ele tem uma mobilidade alta.</p>
                  <!-- <p><a href="#">Saiba mais</a></p> -->
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary flaticon-platform"></span></div>
                <div>
                  <h3>Produto</h3>
                  <p>Com nosso produto conseguiremos realizar uma horta automatizada.</p>
                  <!-- <p><a href="#">Saiba mais</a></p> -->
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary flaticon-car"></span></div>
                <div>
                  <h3>Manutenção</h3>
                  <p>Com a compra do produto o cliente teremos um prazo de garantia de 1 ano e manutenções regulares a cada 6 meses.</p>
                  <!-- <p><a href="#">Saiba mais</a></p> -->
                </div>
              </div>
            </div>
  
          </div>
      </div>
    </div>
    
    <div class="site-section border-bottom">
      <div class="container">

        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Integrantes</h2>
          </div>
        </div>

        <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="images/photos/igor_1.jpg" alt="Image" class="img-fluid mb-3">
                <p>Igor Matos Oliveira</p>
              </figure>
              <blockquote>
                <p>&ldquo;Com este projeto tive vários tipos de experiências adquiridas com a parte de programação, a parte de escrever um projeto de pesquisa, a parte de reuniões e também o convivências com orientador e colegas fazendo o mesmo projeto.&rdquo;</p>
              </blockquote>
            </div>
          </div>
          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="images/photos/ana.jpg" alt="Image" class="img-fluid mb-3">
                <p>Ana Beatriz de Almeida Oliveira</p>
              </figure>
              <blockquote>
                <p>&ldquo;Com o inicio do projeto, tivemos a experiência de criar uma horta técnologica no nosso campus, mas não pudemos implantar por conta das salas modulares que irão ser construídas, quando implementarmpos a horta no nosso campus, iremos usufruir das nossas própias hortaliças, com baixo teor de agrotóxico.&rdquo;</p>
              </blockquote>
            </div>
          </div>

          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="images/photos/thiago.jpg" alt="Image" class="img-fluid mb-3">
                <p>Thiago Americo Dinizz Rodrigues</p>
              </figure>
              <blockquote>
                <p>&ldquo;O projeto começou com a ideia de nós automatizamos o platinou, com isso pensamos o que é uma horta de uma maneira mais sustentável sem gastar muitos recursos naturais, além disso, é de se tornar mais eficiente.&rdquo;</p>
              </blockquote>
            </div>
          </div>

        </div>
      </div>
    </div>

    
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Links</h2>
                <ul class="list-unstyled">
                  <li><a href="/sobre_nos">Sobre Nós</a></li>
                  <li><a href="/services">Servicos</a></li>
                  <li><a href="/contact">Contato</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Produto</h2>
                <ul class="list-unstyled">
                  <li><a href="/sobre_nos">Sobre Nós</a></li>
                  <li><a href="/services">Servicos</a></li>
                  <li><a href="/contact">Contato</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Características</h2>
                <ul class="list-unstyled">
                  <li><a href="/sobre_nos">Sobre Nós</a></li>
                  <li><a href="/services">Servicos</a></li>
                  <li><a href="/contact">Contato</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Siga-nos</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Trabalho de Conclução de Curso &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | Este modelo é feito com <a href="https://getbootstrap.com/" target="_blank" >Bootstrap</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>